<% follow_request = current_user.outgoing_follow_requests.find_by(followee_id: user.id)%>
<% if follow_request.nil? %>
  <%= button_to "Follow", follow_requests_path(followee_id: user.id), method: :post, class:"follow-request-btn" %>
<% elsif follow_request.pending? %>
  <p class="follow-request-status-text" >Request Pending</p>
  <%= button_to "Cancel", follow_request_path(follow_request), method: :delete, class:"follow-request-btn" %>
<% elsif follow_request.accepted? %>
  <p class="follow-request-status-text" >Following</p>
  <%= button_to "Unfollow", follow_request_path(follow_request), method: :delete, class:"follow-request-btn" %>
<% end %>   