<div class="page-wrapper">
  <h1 class="page-title">All Users</h1>
  <div class="user-index-wrapper">
    <% @users.each do |user| %>
      <div class="user-index-profile-card">
        <%= render 'profile/profile_image', user: user, size: "150" %>
        <div class="user-profile-card-details">
          <%= link_to user.profile&.display_name || user.email, user_path(user), class:"user-profile-link" %>
          <div class="user-index-follow-wrapper">
            <%= render 'follow_requests/user_follow', user: user %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
