<h1>All Users</h1>
<% @users.each do |user| %>
  <div>
    <p><%= user.profile&.display_name || user.email %></p>
    <% follow_request = current_user.active_follow_requests.find_by(followee_id: user.id) %>
    <% if follow_request.nil? %>
      <%= button_to "Follow", follow_requests_path(followee_id: user.id), method: :post %>
    <% elsif follow_request.pending? %>
      <span>Request Pending</span>
    <% elsif follow_request.accepted? %>
      <span>Following</span>
      <%= button_to "Unfollow", follow_request_path(follow_request), method: :delete %>
    <% end %>
    <%= link_to "View Profile", user_path(user) %>
  </div>
<% end %>
