<div class="page-wrapper">
  <h1 class="page-title">Feed</h1>
  <div class="index-links-wrapper">
    <%= button_to "New Post", new_post_path, method: :get %>
  </div>
  <% @posts.each do |post| %>
    <%= render 'posts/show_posts', post: post %>
  <% end %>
</div>
